/*
#f06449 tomato
#ede6e3 platinum
#dadad9 gainsboro
#36382e jet
#5bc3eb blue jeans
*/

body {
  background: #ede6e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f06449;
  font-family: 'VT323', monospace;
  margin-top: 0;

  -webkit-animation: screen-show 1s; /* Safari 4+ */
  -moz-animation:    screen-show 1s; /* Fx 5+ */
  -o-animation:      screen-show 1s; /* Opera 12+ */
  animation:         screen-show 1s; /* IE 10+, Fx 29+ */
}

canvas {
  box-shadow: 1px 2px 3px rgba(0,0,0,.3);
  border-radius: 4px;
  margin: 0 auto;
  filter: brightness(1.5) contrast(2);
}

@-webkit-keyframes screen-show {
  0%   { opacity: 0; margin-top: 10px; }
  30%  { opacity: .5; margin-top: 16px;}
  100% { opacity: 1; margin-top: 0px; }
}
@-moz-keyframes screen-show {
  0%   { opacity: 0; margin-top: 10px; }
  30%  { opacity: .5; margin-top: 16px;}
  100% { opacity: 1; margin-top: 0px; }
}
@-o-keyframes screen-show {
  0%   { opacity: 0; margin-top: 10px; }
  30%  { opacity: .5; margin-top: 16px;}
  100% { opacity: 1; margin-top: 0px; }
}
@keyframes screen-show {
  0%   { opacity: 0; margin-top: 10px; }
  30%  { opacity: .5; margin-top: 16px;}
  100% { opacity: 1; margin-top: 0px; }
}
